body {
    background-repeat: no-repeat;
    background-image: url('../../images/product-presentation-wooden-table-with-background-empty-bookshelf-library_172251-444.jpg');
    /*background-attachment: fixed;*/
    background-size: 100%;
    color: #566787;
    font-family: 'Roboto', sans-serif;
    /*color: mediumpurple;*/
}

img {
    opacity: 0.5;
}
